billiard
celery
Django<1.9
django-appconf
django-braces
django-celery
django-debug-toolbar
django-extensions
django-model-utils
djangorestframework
flower
gunicorn
ipython
kombu
psycopg2
pytest-django
pytest
pytz
raven
