Django<1.9
django-braces==1.11.0
django-cors-headers==1.0.0
django-extensions==1.7.8
django-model-utils==3.0.0
djangorestframework==3.6.2
django-rest-swagger==2.1.2
flower==0.9.1
gunicorn
ipython
opbeat
psycopg2
pytest-django
pytest
pytz==2017.2
